body {
    font-family: 'Noto Sans', sans-serif; /* Usar a fonte Noto Sans */
     /* max-width: 1300px; Define a largura máxima desejada */
    margin: auto; /* Centraliza horizontalmente o conteúdo */
    padding: 20px; /* Adiciona um espaçamento interno */
    font-style: normal;
    background-image: url('../imagens/background.jpg');
    color: aliceblue;
}

h1 {
    font-family: 'Noto Sans', sans-serif; /* Usar a fonte Noto Sans */
    color: transparent; /* Tornar o texto transparente para que o gradiente apareça */
    text-align: center;
}
.gradient-title {
    background-image: linear-gradient(to right,rgb(219, 145, 157), pink ); /* Gradiente de cores */
    background-clip: text; /* Aplicar o gradiente apenas ao texto */
    -webkit-background-clip: text; /* Navegadores Webkit (Safari, Chrome) */
    display: inline-block; /* Manter o tamanho do elemento inline */
}

a:visited{
    color: black;
    text-decoration: none;
}
nav {
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    
}
.sem-icone {
    list-style-type: none;
}

img{
    border-radius: 50%;
}
body .link-color {
    color:pink;
    text-decoration: none;
}
