*{
    padding: 0%;
    margin: 0%;
}
:root{
    --corPrincipal: aliceblue;
    --corSecundaria:rgb(219, 145, 157);
    --corTerciaria: white;
    --corAnimacao: #797878;
}
body {
    font-family: 'Noto Sans', sans-serif; /* Usar a fonte Noto Sans */
     /* max-width: 1300px; Define a largura máxima desejada */
   font-style: normal;
    /*background-image: url('../imagens/background.jpg');*/
    color: var(--corPrincipal);
}
h1{
    color: var(--corSecundaria);
    font-family: 'Noto Sans', sans-serif; /* Usar a fonte Noto Sans */
}
.cabecalho{
    display: flex;
    width: 100vw;
    flex-direction: row;
    background-color: var(--corPrincipal);
}
.cabecalho-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.cabecalho-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 4;
    height: 12vh;
}
.content{
    width: 100vw;
    height: 606px;
    background-color: var(--corTerciaria);
    color: var(--corPrincipal);
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 35px;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    text-align: center;
}
a {
    margin: 0 2vw 1vw;
    text-decoration: none;
    font-size: large;
}
.cabecalho a:hover{
    border-bottom: solid sandybrown;
}
a:link{
    color: var(--corSecundaria);
}
a:visited{
    color: var(--corSecundaria);
}
a:active{
    color: var(--corSecundaria)
}

@media(max-width:720px){
    .cabecalho-logo{
        display: none;
    }
    .cabecalho-menu{
        justify-content: center;
    }
}
@media(max-width:320px){
    .cabecalho-logo{
        display: none;
    }
    .cabecalho-menu{
        flex-direction: column;
    }
}