*{
    padding: 0%;
    margin: 0%
}

:root{
    --corPrincipal: aliceblue;
    --corSecundaria:pink;
    --corTerciaria: rgb(219, 145, 157);
    --corAnimacao:magenta;
}

body {
    font-family: 'Noto Sans', sans-serif; /* Usar a fonte Noto Sans */
     /* max-width: 1300px; Define a largura máxima desejada */
    margin: auto; /* Centraliza horizontalmente o conteúdo */
    padding: 20px; /* Adiciona um espaçamento interno */
    font-style: normal;
    /*background-image: url('../imagens/background.jpg');*/
    color: var(--corPrincipal);
}

h1 {
    font-family: 'Noto Sans', sans-serif; /* Usar a fonte Noto Sans */
    color: var(--corSecundaria); /* Tornar o texto transparente para que o gradiente apareça */;
}
.gradient-title {
    background-image: linear-gradient(to right, --corTerciaria, pink ); /* Gradiente de cores */
    background-clip: text; /* Aplicar o gradiente apenas ao texto */
    -webkit-background-clip: text; /* Navegadores Webkit (Safari, Chrome) */
    display: inline-block; /* Manter o tamanho do elemento inline */
}
.cabecalho{
    display: flex;
    align-items: center;
    flex-grow: 4;
    height: 12vh;
}
    
.content{
    width: 100vw;
    height: 615.5xp;
    background-color: var(--corSecundaria);
    color: var(--corPrincipal);
}
.rodape{
    width: 100vw;
    height: 35xp;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
}
a{
    margin: 0 2vw 1vw;
    text-decoration: none;
    font-size: large;
}
a:visited{
    color: var(--corSecundaria);
    text-decoration: none;
}
a:hover{
    color: var(--corSecundaria);
    text-decoration: none;
}
a:link{
    color: var(--corSecundaria);
    text-decoration: none;
}
a:active{
    color: var(--corSecundaria);
    text-decoration: none;
}
nav {
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    
}
.sem-icone {
    list-style-type: none;
}

img{
    border-radius: 50%;
}
body .link-color {
    color:pink;
    text-decoration: none;
}
